In [1]:
import os
os.environ['JAVA_HOME'] = r'C:\\Program Files\\Java\\jdk-18.0.2\\bin\\server'
print(os.environ.get('JAVA_HOME'))
#자바환경변수 설정

C:\\Program Files\\Java\\jdk-18.0.2\\bin\\server

In [2]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\user\anaconda3\lib\site-packages (23.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install JPype1‑1.4.0‑cp310‑cp310‑win_amd64.whl

Note: you may need to restart the kernel to use updated packages.

WARNING: Requirement 'JPype1\u20111.4.0\u2011cp310\u2011cp310\u2011win_amd64.whl' looks like a filename, but the file does not exist
ERROR: JPype1\u20111.4.0\u2011cp310\u2011cp310\u2011win_amd64.whl is not a valid wheel filename.

In [4]:
pip install mecab_python-0.996_ko_0.9.2_msvc-cp37-cp37m-win_amd64.whl

Note: you may need to restart the kernel to use updated packages.

WARNING: Requirement 'mecab_python-0.996_ko_0.9.2_msvc-cp37-cp37m-win_amd64.whl' looks like a filename, but the file does not exist
ERROR: mecab_python-0.996_ko_0.9.2_msvc-cp37-cp37m-win_amd64.whl is not a supported wheel on this platform.

In [5]:
pip install customized_konlpy #패키지 설치

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: '#패키지'

In [6]:
pip install PyKomoran

Requirement already satisfied: PyKomoran in c:\users\user\anaconda3\lib\site-packages (0.1.6.post1)
Requirement already satisfied: py4j==0.10.9.2 in c:\users\user\anaconda3\lib\site-packages (from PyKomoran) (0.10.9.2)
Note: you may need to restart the kernel to use updated packages.

# 빈도수 계산

In [7]:
import ckonlpy.tag
from ckonlpy.tag import *

twitter=Twitter()

twitter.add_dictionary(['지원서', '봉사단'], 'Noun') #텍스트 분석할 때 특정 단어 리스트 추가하기

import re
import networkx as nx
import pandas as pd
import numpy as np
import datetime
from collections import Counter
from datetime import datetime
import datetime
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

df = pd.read_csv('2020년 키워드 분석 프로그램 샘플중복제거.csv', encoding='cp949') # csv 파일 불러와서 df로 저장

dff = df[['문의세부내용','답변세부내용','대응부서']].fillna("") # 해당 컬럼만 추출하여 dff로 저장 , fillna 결측치 채우기       


# 대응부서 별로 카운트하고 싶으면 이렇게 코드 작성 : dff['대응부서'].value_counts() 

stopwords=pd.read_csv('코이카_불용어.csv',encoding='cp949') 
stop_words_list=[i for i in stopwords['문의']] # 리스트 불러오기

stopwords=pd.read_csv('코이카_불용어.csv', encoding='cp949', header=None)

minwon_contents = dff.get('문의세부내용') # get 해당 컬럼 추출
minwon_answers=dff.get('답변세부내용')
minwon=pd.concat([minwon_contents,minwon_answers],axis=0) #concat 합치기

# 형태소 분석
from re import match # 전처리 위해서 정규표현식 관련 re 패키지 import

result=[] #result 리스트에 담기

for sent in minwon_contents:
    nouns = []
    for noun in twitter.nouns(sent) :
        # 단어 전처리 : 2음절 이상, 수사 제외
        if len(str(noun)) >= 2 and not(match('^[0-9]', noun)) :
            nouns.append(noun) # append() 추가하는 것 즉 nouns 리스트에 명사 추가
    result.append(list(set(nouns)))

result1=sum(result, []) #[]안의 리스트 합치기

nouns2=[]
for noun in result1:
    # 불용어 제외하기
    if str(noun) not in stop_words_list:
        nouns2.append(noun)

# 상위 20개 추출
from collections import Counter
num=20
nouns_counter = Counter(nouns2) # 카운트하기
minwon_top_nouns=dict(nouns_counter.most_common(num)) # num값 만큼 추출 개수를 내림차순 상위 20개 

df2=pd.DataFrame([nouns_counter])
df2.rename(index={0: "20년"}, inplace=True) # 첫 행 이름을 20년으로 설정하기
df3=df2.sort_values(by="20년", axis=1, ascending=False) # 20년 내림차순으로 정렬

df2.to_csv('2020년 키워드 분석 프로그램 샘플 빈도수 최종.csv', encoding='cp949') # csv파일로 저장
df3.T[:20].to_csv('2020년 키워드 분석 프로그램 샘플 빈도수 상위 20개.csv',encoding='cp949') 
# dft.T[:20]은 상위 20개 파일 불러오는 것
df3.T[:20]

C:\Users\user\anaconda3\lib\site-packages\konlpy\tag\_okt.py:17: UserWarning: "Twitter" has changed to "Okt" since KoNLPy v0.4.5.
  warn('"Twitter" has changed to "Okt" since KoNLPy v0.4.5.')

      20년
지원    521
단원    416
파견    369
코로나   357
봉사단   343
교육    333
귀국    329
프로그램  315
직원    238
제공    222
기간    207
경험    206
개발    205
일시    199
서비스   190
계속    174
참여    165
개선    157
수행    151
기회    148

# 증감률 계산

In [11]:
df_2020 = pd.read_csv('2020년 키워드 분석 프로그램 샘플 빈도수 최종.csv', encoding='cp949')
df_2021 = pd.read_csv('2021년 키워드 분석 프로그램 샘플 빈도수 최종.csv', encoding='cp949')
df_2022 = pd.read_csv('2022년 키워드 분석 프로그램 샘플 빈도수 최종.csv', encoding='cp949')

dff_2020=df_2020.set_index("Unnamed: 0")# 인덱스를 첫 컬럼으로 설정
dff_2021=df_2021.set_index("Unnamed: 0")
dff_2022=df_2022.set_index("Unnamed: 0")

dff_add=pd.concat([dff_2020, dff_2021]) # 두 데이터프레임 합치기

dft=dff_add.T # 행과 열을 바꾸기

dft_sum=dft.sum(axis='columns') # 컬럼 합계
dft_sum.name='총합계' # 그 이름을 총합계로 설정
dft_vf=pd.concat([dft['20년'], dft['21년'], dft_sum], axis=1) 
# dft 파일의 2020년, 2021년 컬럼과 총합계 컬럼을 한 파일로 병합
dft_result=dft_vf.sort_values('총합계', ascending=False) 
# 총합계 컬럼 내림차순으로 정렬

dft_result.to_csv('20,21년 키워드 분석 프로그램 샘플 빈도수 최종.csv',encoding='cp949') # csv 파일로 저장

dft_20=dft_result.head(20) # 상위 20개 추출

rate=(dft_20['21년']-dft_20['20년'])/dft_20['20년']*100 #증감률 계산
rate.name='21-20년증감률' #rate의 컬럼이름 설정

result=pd.concat([dft_20['20년'],dft_20['21년'], rate], axis=1) #concat 이어붙이기

result.to_csv('20,21년 키워드 분석 프로그램 샘플 증감률 최종.csv', encoding='cp949') #저장

result

        20년    21년   21-20년증감률
지원    521.0  512.0   -1.727447
코로나   357.0  270.0  -24.369748
교육    333.0  292.0  -12.312312
프로그램  315.0  304.0   -3.492063
파견    369.0  239.0  -35.230352
봉사단   343.0  235.0  -31.486880
제안    132.0  397.0  200.757576
단원    416.0   77.0  -81.490385
서류     95.0  361.0  280.000000
참여    165.0  284.0   72.121212
기간    207.0  239.0   15.458937
증명서   109.0  320.0  193.577982
직원    238.0  179.0  -24.789916
귀국    329.0   65.0  -80.243161
개발    205.0  175.0  -14.634146
일정     98.0  274.0  179.591837
국제    129.0  241.0   86.821705
수행    151.0  216.0   43.046358
제공    222.0  140.0  -36.936937
발급    103.0  257.0  149.514563